/Proceso/*.job
/Proceso/*.txt
/Proceso/*.m4a
/Proceso/*.mkv
/Proceso/*.mp4
/Proceso/*.avi
/Original/*.mkv
/Original/*.mp4
/Original/*.avi
/Convertido/*.mkv
/Convertido/*.mp4
/Convertido/*.avi
/tools/*.exe
/tools/x64/*.exe
/Proceso/*.json
/Proceso/*.lock
